# ignore Python cache files
__pycache__/
*.pyc
*.pyo

# ignore virtual environment
.venv/

# ignore temp files
*.log
*.tmp

# ignore system-specific files
.DS_Store
Thumbs.db

# editor-specific files
.vscode/